@page "/"
@inherits TotallyWorkingBlazorShowcase.Pages.RegistrationModelBase
<link href="css/componentsStyle/Buttons.css" rel="stylesheet">
<link href="css/componentsStyle/TextStyle.css" rel="stylesheet">
<link href="css/componentsStyle/Inputs.css" rel="stylesheet">
<link href="css/componentsStyle/DefaultMargin.css" rel="stylesheet">
<link href="css/WindowsCustomStyle/RegisterWindow.css" rel="stylesheet">
<div class="Row">
    <div class="BlueBackground">
        <img src="css/Svg/Logo.svg" class="Logo" alt="Logo">
        <img src="css/Svg/EllipseShutDown.svg" class="Ellipse0" alt="Decor">
        <img src="css/Svg/EllipseShutDown.svg" class="Ellipse1" alt="Decor">
    </div>
    <img src="css/Svg/Fish.svg" class="Kit" alt="Fish">
    <div class="RegisterForm">
        <header class="BaseTxt HeaderTxt">Регистрация</header>
        <EditForm Model="@registerModel" class="Mr_t_32" method="post" OnValidSubmit="RegistrationUser">
            <div class="form-group Mr_b_24 col">
                <label for="UserName" class="BaseTxt RegularGrayTxt Mr_b_12">Имя или e-mail:</label>
                <InputText id="Email" class="form-control BaseInput" @bind-Value="registerModel.UserName" placeholder="Иван Иванов"/>
                <ValidationMessage For="@(() => registerModel.UserName)"/>
            </div>

            <div class="form-group Mr_b_24 col">
                <label for="Password" class="BaseTxt RegularGrayTxt Mr_b_12">Пароль:</label>
                <InputText id="Password" type="password" class="form-control BaseInput" @bind-Value="registerModel.Password" placeholder="Придумайте пароль"/>
                <ValidationMessage For="@(() => registerModel.Password)"/>
            </div>

            <div class="form-group Mr_b_24 col">
                <label class="BaseTxt RegularGrayTxt Mr_b_12">Повторите пароль:</label>
                <InputText type="password" class="form-control BaseInput" @bind-Value="registerModel.ConfirmPassword" placeholder="Введите пароль повторно"></InputText>
                <ValidationMessage For="@(() => registerModel.ConfirmPassword)"/>
            </div>
            <button type="submit" class="ButtonBase BlueButton Mr_b_24">Создать аккаунт</button>
        </EditForm>
        <button class="ButtonBase LightBlueButton Mr_b_24">Продолжить с Google</button>
        <p class="BaseTxt ClueTxt">
            У вас уже есть учетная запись?
            <a href="/login" class="BaseTxt BlueBoldTxt">Войти</a>
        </p>
    </div>
</div>

